<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientId" value="3451098d-01b5-464e-a7fc-6d2092426e1e" />
    <add key="ClientSecret" value="Ch2XsRHkBAVWtXuqta4ixzKGsTSk6O+cNXQmlPeuHsw=" />
    <add key="TenantId" value="ab52d4e5-9cc7-437a-bdda-f4239e145187" />
    <add key="DocumentDBAuhKey" value="Yy9IkkjAPBPYEfQ17CB5eFnDo4SxhYtvqZXB8OY1FXR3VvwXQB0HhqsKbryWlHi+kGDVv0iCkhM3zvv80GaMbg==" />
  <add key="RestClient" value="https://management.azure.com/" />
    
  </appSettings>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
 <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=hbotdev;AccountKey=Zk4FUJTCdm2ViP8xplmG/Zm1Vzop9g6u+1Ey86hl2wG5C5ZuIjZX1Eta1gjLscJDjRqglToXzHL+pWnzgxpCRg==;BlobEndpoint=https://hbotdev.blob.core.windows.net/;TableEndpoint=https://hbotdev.table.core.windows.net/;QueueEndpoint=https://hbotdev.queue.core.windows.net/;FileEndpoint=https://hbotdev.file.core.windows.net/" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=hbotdev;AccountKey=Zk4FUJTCdm2ViP8xplmG/Zm1Vzop9g6u+1Ey86hl2wG5C5ZuIjZX1Eta1gjLscJDjRqglToXzHL+pWnzgxpCRg==;BlobEndpoint=https://hbotdev.blob.core.windows.net/;TableEndpoint=https://hbotdev.table.core.windows.net/;QueueEndpoint=https://hbotdev.queue.core.windows.net/;FileEndpoint=https://hbotdev.file.core.windows.net/" />
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>